<h1>New Beer</h1>

<form method="POST" action="/beers">
  <p>Name: <input name="name" type="text" placeholder="name"/></p>
  <p>Description: <textarea name="description" placeholder="description"></textarea></p>
  <p>Batch Yield<input name="batch_yield" type="number" placeholder="batch_yield"/> gallons</p>
  <p>Regional Style: <input name="regional_style" type="text" placeholder="regional_style"/></p>
  <p>Beer Style: <input name="beer_style" type="text" placeholder="beer_style"/></p>
  <p>Color: <input name="color" type="text" placeholder="color"/></p>
  <p>O.G.: <input name="original_gravity" type="number" placeholder="original_gravity"/> (e.g., 1062)</p>
  <p>F.G.: <input name="final_gravity" type="number" placeholder="final_gravity"/> (e.g., 1012)</p>
  <p>Time to Make: <input name="time_to_make" type="number" placeholder="time_to_make"/> weeks</p>
  <p>Image URL: <input name="image_url" type="text" placeholder="image_url"/></p>
  <p><input name="submit" type="submit" /></p>
</form>